@import './variables.scss';

html,
body {
    margin: 0;
    padding: 0;
}

html body {
    background-image: url(/mountains.webp);
    background-size: cover;
    background-attachment: fixed;

    /** Defaults */
    img {
        max-width: 100%;
        width: 100%;
    }
    button {
        background-color: $primary;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $secondary;
        }
    }

    .image {
        display: contents;
    }

    .dropzone {
        line-height: 100px;
        padding: 0 !important;
    }

    .loading {
        position: absolute;
        z-index: 1;
    }

    /** Texteditor */
    .tiptap {
        >*+* {
            margin-top: 0.75em;
        }

        ul,
        ol {
            padding: 0 1rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: 1.1;
        }

        code {
            background-color: rgba(#616161, 0.1);
            color: #616161;
        }

        pre {
            background: #0D0D0D;
            color: #FFF;
            font-family: 'JetBrainsMono', monospace;
            padding: 0.75rem 1rem;
            border-radius: 0.5rem;

            code {
                color: inherit;
                padding: 0;
                background: none;
                font-size: 0.8rem;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }

        blockquote {
            padding-left: 1rem;
            border-left: 2px solid rgba(#0D0D0D, 0.1);
        }

        hr {
            border: none;
            border-top: 2px solid rgba(#0D0D0D, 0.1);
            margin: 2rem 0;
        }
    }

}

/** Helper */
.hide {
    display: none;
}
.grid {
    display: grid;
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 5px), 1fr));
    gap: 10px;
}
.col {
    min-height: 40px;
    border: 1px solid red;
}