$smBreakpoint: 500px;
$mdBreakpoint: 768px;
$lgBreakpoint: 1024px;
$asideWidth: 200px;

$primary: #1ed38d;
$secondary: #333333;
$gray: #999999;

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }
}

html body {
    background-image: url(/mountains.webp);
    background-size: cover;
    background-attachment: fixed;


    /** Defaults */
    img {
        max-width: 100%;
        width: 100%;
    }

    .image {
        display: contents;
    }

    .dropzone {
        line-height: 100px;
        padding: 0 !important;
    }
    .loading {
        position: absolute;
        z-index: 1;
    }

    /** Standardtheme */
    &.defaultTheme {
        .page {
            backdrop-filter: blur(4px);
            padding: 0 0 40px 0;

            .nav-main {
                position: sticky;
                top: 0;
                display: flex;
                justify-content: center;
                max-width: $lgBreakpoint;
                line-height: 80px;

                @media (max-width: 767px) {
                    div {
                        display: grid;
                        grid-template-columns: 1fr;
                        border: 1px solid $gray;
                        border-radius: 10px;
                        padding: 10px;
                        margin-right: 20px;
                    }
                }
            }

            .content {
                min-height: 100vh;
                max-width: $lgBreakpoint;
                width: 100%;
                margin: 0 auto;
                padding: 20px;
                box-sizing: border-box;
                background-color: #fff;

                .nav-posts {
                    display: grid;
                    gap: 20px;
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                    .new {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        aspect-ratio: 1/1;
                    }

                    .post {
                        display: flex;
                        flex-direction: column;
                        max-width: calc(100vw - 40px);

                        img {
                            aspect-ratio: 1/1;
                            object-fit: cover;
                        }

                        div {
                            padding: 5px;
                        }
                    }

                    .post,
                    .new {
                        position: relative;
                        border: 1px solid $gray;
                        text-decoration: none;
                        color: #000;

                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            z-index: 1;
                            pointer-events: none;
                            background: transparent;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: all 0.3s;
                        }

                        &:hover:before {
                            background: rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }
    }
}

/** Helper */
.hide {
    display: none;
}